##############################################################
#          Arquivo padrão de configurações de Sistema        #
#                Created by: Kevin Marques                   #
#         Mantenha o padrão de definição de configuração     #
# @Nomeclatura nomeDaConfiguração=ValorEspecificado          #
# A má escrita deste arquivo acarretará na ñ funcionalidade  #
# Do sistema. Os valores atribuidos são diretamente usados   #
# na definição de funcinamento. CUIDADO!                     #
# Caso não saiba o que definir, apague o arquivo config.cfg  #
##############################################################
hostname = localhost
username = root
password = _empty_
database = schoolstock
port = 3306
expiretime = 60
crypt_on = false
logfile = system_log
install-createDatabase = 1
